[v-cloak] {
	display: none;
}

body {
	padding: 30px;
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2 {
	font-weight: 300;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	border:1px solid red;
}

.cm-container {
	border: #ddd solid 1px;
	margin-bottom: 10px;
	width: 550px;
	margin-left:25px;
	/* border:1px solid red; */
	float: left;
}

footer {
	margin-top: 20px;
	padding-top: 10px;
	border-top: #dedede solid 1px;
}